<div class="nav-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar-index">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Loja</a>
        </div>
    </nav>
    </div>
    <div class="wrapper">
        <!--
        <div class="box header">
            <h1>Projeto x</h1>
        </div>
        --> 
        <div class="box sidebar">
            <div class="user-info-margin">
                <label>Sistema de compras</label><br>
            </div>
            <hr>
        </div>
        <div class="box content">
            <h1 class="centered-text">Loja</h1>
            <div class="document">
                <div class="hidden-project" >
                    <div class="folder-name">Produtos</div>
                    <div class="folder-icon">
                        <button type="button" class="btn btn-primary btn-block entrar-btn" (click)="openMappings()">Entrar</button>
                    </div>
                </div>
            </div>
            <div class="document">
                <div class="hidden-project" >
                    <div class="folder-name">Pedidos</div>
                    <div class="folder-icon">
                        <button type="button" class="btn btn-primary btn-block entrar-btn" (click)="openRoutines()">Entrar</button>
                    </div>
                </div>
            </div>
            <div class="document">
                <div class="hidden-project" >
                    <div class="folder-name">Clientes</div>
                    <div class="folder-icon">
                        <button type="button" class="btn btn-primary btn-block entrar-btn" (click)="openConfigurations()">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="foot"></div>
    