<div *ngIf="mapping==null;else updateTag">
    <div class="modal-header" >
        <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Algo</h4>
    </div>
    <div class="modal-body text-center">
        <form #formNewMapping="ngForm">
            <div class="form-outline mb-4">
              <label class="form-label" for="line">line:</label>
              <input type="text" id="line" name="line" class="form-control"
                [(ngModel)]="newMapping.line" #line="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="nome">nome:</label>
                <input type="text" id="nome" name="nome" class="form-control"
                  [(ngModel)]="newMapping.nome" #nome="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="mapping">mapping:</label>
                <input type="text" id="mapping" name="mapping" class="form-control"
                  [(ngModel)]="newMapping.mapping" #nome="ngModel">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="add()">Salvar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
    </div>
</div>

<ng-template #updateTag>
    <div class="modal-header" >
        <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Algo</h4>
    </div>
    <div class="modal-body text-center">
        <form #formMapping="ngForm">
            <div class="form-outline mb-4">
                <label class="form-label" for="line">line:</label>
                <input type="text" id="line" name="line" class="form-control"
                  [(ngModel)]="mappingToUpdate.line" #line="ngModel">
              </div>
  
            <div class="form-outline mb-4">
                <label class="form-label" for="nome">nome:</label>
                <input type="text" id="nome" name="nome" class="form-control"
                [(ngModel)]="mappingToUpdate.nome" #nome="ngModel">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/system', mappingToUpdate.line]" (click)="activeModal.close()">Open</button>
        -->
        <button type="button" class="btn btn-outline-dark" (click)="update()">Update</button>
        <button type="button" class="btn btn-outline-danger" (click)="disable()">Disable</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
    </div>
</ng-template>